* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
}

body {
    background-image: url("office-desktop-with-notebook.jpg");
    background-size: 2280px 1516px;
}

.calc {
    background-color: rgb(54, 50, 50);
    height: 560px;
    width: 420px;
    border-radius: 20px;
    margin: 100px auto;
    padding: 35px 0px 10px;
    border: groove black 3px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.689);
}

.display {
    height: 90px;
    width: 370px;
    margin: 0px auto 20px;
    padding-right: 30px;
    border-radius: 10px;
    background-color: rgb(141, 156, 103);
    border: groove black 3px;
    align-self: center;
    text-align: end;
    line-height: 85px;
    font-family: 'Orbitron', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: normal;
}

button {
    height: 70px;
    width: 80px;
    margin: 4px auto;
    border-radius: 30px;
    padding: 0px;
    background-color: rgb(7, 4, 8);
    color: white;
}

button:hover {
    color: rgb(141, 156, 103);
    background-color: rgb(16, 16, 16);
}

.clear {
    height: 70px;
    width: 177px; 
    background-color: rgb(33, 31, 35);
}

.delete {
    height: 70px;
    width: 80px; 
}